@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* RGB for older systems */
    --color-green: rgb(0 166 62);
    --color-right: rgb(0 166 62);
    --color-wrong: rgb(208 0 2);
    --color-misplaced: rgb(223 158 0);
    --vgap: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

body {
    background-color: #0d0d0d;
    color: #e3e3e3;
    letter-spacing: 0.5px;
    font-family: "Open Sans" ; 
}

.title-bar{
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    align-items: center;
    justify-items: center;
    width: 600px;
    margin: auto;
    user-select: none;

}

.new-game-btn,.info{
    cursor: pointer;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.title {
    grid-column:2;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    padding: var(--vgap) 0;
    font-family:  "roboto" ;
    font-weight: 600;
    font-size: 4.2rem;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: -4px 0px 0 #064709 , -4px 4px 0 #064709, 0px 4px 0 #064709;
}

.title>.wrong{
    color: var(--color-wrong);
    text-shadow: -4px 0px 0 #470606 , -4px 4px 0 #470606, 0px 4px 0 #470606;
}

.title>.right{
    color: var(--color-right);
    text-shadow: -4px 0px 0 #064709 , -4px 4px 0 #064709, 0px 4px 0 #064709;
}

.title>.misplaced{
    color: var(--color-misplaced);
    text-shadow: -4px 0px 0 #473406 , -4px 4px 0 #473406, 0px 4px 0 #473406;
}







.message{
    position: absolute;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    top: 15%;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
    z-index:99;


}


/* section{
    border-top: 1px solid lime;
    border-bottom: 1px solid lime;
} */

.message.hidden{
    visibility: hidden;
    opacity: 0;
        visibility: 0s 1s, /* stays hidden after animation */
        opacity 0.3s ease-in-out;  
    transform: translateY(-20px);
}
 
.game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    transition: box-shadow 0.3s ease;
    user-select: none;
    padding: var(--vgap) 0;
    
    /* border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #111;
    */
}

.guess-row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    width: fit-content;
}

.letter-box,.key {
    --box-dim: 50px;
    width: var(--box-dim);
    height: var(--box-dim);
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1.5px solid #666;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
.letter-box{
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 10px rgba(137, 193, 88, 0.05);
}

.running>.letter-box{
    border: 1px solid rgb(255, 255, 255);
}
.letter-box.curLetter{
    border: 2px solid var(--color-green);
    animation: click 0.1s ease-in-out forwards;
}

@keyframes click {
    0%{
        scale: 1.05;
    }
    50%{
        scale: 0.95;
    }
    100%{
        scale:1;
    }
}

.letter-box.wrong{
    background-color: var(--color-wrong);
    border: 0;

}
.letter-box.right{
    background-color: var(--color-right);
    border: 0;

}
.letter-box.misplaced{
    background-color: var(--color-misplaced);
    border: 0;

}

.letter-box.finished{
    animation: flip 0.5s ease-in-out forwards;
}
@keyframes flip {
    50% {
        transform: rotateY(90deg); 
    }
    
}


.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-4px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(4px);
  }
}




.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.keyboard-row{
    display: flex;
    justify-content: center;
}
.keyboard-row>.key{
    margin: 5px;
    
}

/* .keyboard-row:first-child{
    width: 660px;
}
.keyboard-row:first-child>.key{
    flex: 1;
} */


.keyboard> :last-child> :last-child,.keyboard> :last-child> :first-child{
    font-size: 1.2rem;
    padding: 0 40px ;
}

