.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.keyboard-row{
    display: flex;
    justify-content: center;
}

.keyboard-row>.virtual-key{
    position: relative;
    width: 40px;
    height: 50px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1.5px solid #666;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}

/* Styling Enter and Delete */
.keyboard> :last-child> :last-child,.keyboard> :last-child> :first-child{
    font-size: 1.2rem;
    padding: 0 40px ;
}


.virtual-key.wrong{
    background-color: var(--color-wrong);
    border: 0;
}

.virtual-key.right{
    background-color: var(--color-right);
    border: 0;
    
}
.virtual-key.misplaced{
    background-color: var(--color-misplaced);
    border: 0;
}

.virtual-key:is(.right, .misplaced).animate{
    animation: keyClick 0.5s ease-in-out;
    
}

.virtual-key.wrong.animate{
    animation: shake 0.5s ease-in-out !important;
}

.virtual-key .position-feedback{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: var(--body-bg);

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    
    width: 15px;        
    font-size: 0.5em;

    opacity: 0;
}

.virtual-key.right .position-feedback{
    opacity: 1;
}
