.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}



.keyboard-row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard-row>.virtual-key{
    position: relative;
    width: 40px;
    height: 50px;
    margin: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid #666;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    flex: 1;
    user-select: none;

    transition: all 0.2s ease-in-out;
}

/* Styling Enter and Delete */
.keyboard> :last-child> :last-child,.keyboard> :last-child> :first-child{
    font-size: 14px;
    padding: 0 10px;
    flex: 1.5;
}


.virtual-key:hover {
    filter: brightness(5);
}


.virtual-key.active {
  transform: scale(0.9);
  filter: blur(0.5px);
}



.virtual-key.wrong{
    background-color: var(--color-wrong);
    border: 0;
}

.virtual-key.right{
    background-color: var(--color-right);
    border: 0;
    
}
.virtual-key.misplaced{
    background-color: var(--color-misplaced);
    border: 0;
}

.virtual-key:is(.right, .misplaced).animate{
    animation: keyClick 0.5s ease-in-out;
    
}

.virtual-key.wrong.animate{
    animation: shake 0.5s ease-in-out !important;
}

.virtual-key .position-feedback{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: var(--body-bg);

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    color: #fff;
    width: 15px;        
    font-size: 0.5em;

    opacity: 0;
}

.virtual-key.right .position-feedback{
    opacity: 1;
}
